@use '../styles/variables' as *;
@use '../styles/mixin' as *;

.root {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-direction: column;
  border-bottom: 1px solid $primary;
  @include mq(md) {
    align-items: center;
    flex-direction: row;
  }
  .title {
    font-size: 4vh;
  }
}
